{% block coinhive_captcha_widget %}
    {% spaceless %}
        {{ site_key }}
        <script src="https://coinhive.com/lib/captcha.min.js" async></script>
        <script>
            function myCaptchaCallback(token) {

            }
        </script>

        <div class="coinhive-captcha"
             data-hashes="256"
             data-key="{{ site_key }}"
             data-autostart="false"
             data-whitelabel="false"
             data-disable-elements="input[type=submit]"
             data-callback="myCaptchaCallback"
        >
            <em>Loading Captcha...<br>
                If it doesn't load, please disable Adblock!</em>
        </div>
    {% endspaceless %}
{% endblock coinhive_captcha_widget %}
